.navBarBrand {
  position: relative;
  z-index: 2;
}

.partyTitle {
  font-family: 'Londrina Solid';
  font-size: 4em;
  color: rgb(33, 37, 41);
}

.rotateText {
  transform: rotate(20deg);
  font-family: 'Londrina Solid';
  color: #d63c5e;
  /* top right bottom left  */
  margin: 10px 0px 0px -20px;
  padding: 0px;
}

/* connect button displays differently to default NavBarItems, thus the !importants */
.connectBtn {
  cursor: pointer;
}
.connectBtn:hover,
.connectBtn:active,
.connectBtn:focus {
  cursor: pointer !important;
}
.disconnectBtn {
  cursor: pointer;
}
.disconnectBtn:hover,
.disconnectBtn:active,
.disconnectBtn:focus {
  cursor: pointer !important;
}

.greenStatusCircle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #7fc59c;
  border-radius: 50%;
  margin-right: 5px;
}

.nounsNavLink,
.nounsNavLink:active,
.nounsNavLink:visited {
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem !important;
  color: var(--brand-black) !important;
}
.nounsNavLink:hover {
  color: var(--brand-dark-red) !important;
}

.testnetImg {
  width: auto;
  height: 45px;
}

.connectWalletButton {
  width: 12em;
  height: 40px;
  border: none;
  outline: none;
  font-weight: bold;
  color: #fff;
  background: #d63c5e;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 0;
  border-radius: 10px;
  font-size: 1em;
}
