.statusIndicator {
  text-align: center;
  background: white;
  border-radius: 50px;
  align-items: center;
  font-size: 16px;
  padding: 4px 20px;
  display: inline-block;
  color: #fd5858;
  /* box-shadow: 0px 0px 4px rgb(150 150 150 / 60%); */
  margin-bottom: 6px;
  font-weight: bold;
}

.failStatus {
  color: #fd5858;
}

.successStatus {
  background: -webkit-linear-gradient(10deg, #00ffa3 -22%, #57cdff 45%, #f68eff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  font-weight: bold;
}

.statusText {
  text-align: center;
  font-size: 1.25rem;
  padding: 0px 20px 0px 20px;
  color: #212529;
  font-family: 'Fredoka One';
}

/*
.hiddenStatus {
	display: none;
}*/
