@font-face {
  font-family: 'GT Maru';
  src: url('./fonts/GT-Maru-Regular-Trial.woff2') format('woff2');
}

/*  Global Defaults */
* {
  font-family: 'GT Maru';
  font-size: 1em;
}

p {
  padding: 0px;
  margin: 0px;
}
