p {
  margin: 0px;
  padding: 0px;
}

/* Help prevent overflow */
.ethRequiredPadding {
  padding-left: 1em;
  padding-right: 0px;
}

.biddingPoolContainer {
  padding-left: 1em;
  padding-right: 0px;
}

/* Help prevent overflow */
.biddingPoolPadding {
  padding-left: 0px;
  padding-right: 0px;
}

.auctionInfoWrapper {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  margin: 10px;
}

.centerText {
  text-align: center;
}

.noMarginPadding {
  margin: 0px !important;
  padding: 0px !important;
}

.dollarValueText {
  color: grey;
}

h3 {
  font-size: 1.25em;
}

@media screen and (min-width: 1224px) {
  h3 {
    font-size: 1.5em;
  }
}

/* Vertical Divider */
.verticalLine {
  content: '';
}
.verticalLine:before {
  padding: 0;
  margin: 0;
  display: block;
  content: '';
  width: 1px;
  height: 66%;
  background-color: rgba(230, 230, 230);
  position: absolute;
  right: 0;
  top: 33%;
}
.verticalLine:after {
  padding: 0;
  margin: 0;
  display: block;
  content: '';
  width: 1px;
  height: 66%;
  background-color: rgba(230, 230, 230);
  position: absolute;
  right: 0;
  bottom: 33%;
}
