@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.partyPaperContainer {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-bottom: none;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.floatingPaper {
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
}

.auctionActivityContainer {
  padding: 0px;
  margin: 10px;
}

.informationRow {
  margin-bottom: 2rem;
}
.activityRow {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

.modalHeader {
  border-bottom: none;
  justify-content: flex-start;
  align-items: center;
}
.modalTitleWrapper {
  color: var(--brand-black);
}
.modalTitleWrapper h1 {
  font-size: xx-large;
  margin-left: 2rem;
}
.modalHeader button {
  align-self: flex-start;
}
.modalHeaderNounImgWrapper {
  width: 150px;
  height: 150px;
}
.currentBidCol {
  border-right: 1px solid var(--brand-black);
}
.auctionTimerCol {
  padding-left: 3rem;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 1rem;
  }
  .auctionTimerCol {
    padding-left: 15px;
  }
}

/* Fix Firefox navigation arrow alignment issues */
@-moz-document url-prefix() {
  .colAlignCenter {
    display: flex;
    align-items: center;
  }
}

/* Vertical Divider */
.verticalLine {
  content: '';
}
.verticalLine:before {
  padding: 0;
  margin: 0;
  display: block;
  content: '';
  width: 1px;
  height: 66%;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  right: 0;
  top: 33%;
}
.verticalLine:after {
  padding: 0;
  margin: 0;
  display: block;
  content: '';
  width: 1px;
  height: 66%;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  right: 0;
  bottom: 33%;
}

.nounIdContainer {
  margin: 10px;
  font-family: 'Fredoka One';
  padding-left: 15px;
  display: flex;
}

.nounIdText {
  background: -webkit-linear-gradient(90.72deg, #00ffa3 -33.78%, #57cdff 35.54%, #f68eff 118.48%);
  -webkit-background-clip: text;
  font-family: 'Londrina Solid';
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  padding: 0px;
  margin: 0px;
}
