.title {
  margin-bottom: 0.5rem;
}

.timerWrapper {
  display: flex;
  text-align: center;
  margin: 0px !important;
}

.timerSection {
  margin-right: 0.5rem;
}

.small {
  padding-left: 0.1rem;
  font-size: 0.65em;
}

.timeSubtitle {
  font-size: medium;
}

.noPaddingMargin {
  padding: 0px;
  margin: 0px;
}

.timerText {
  color: rgba(33, 37, 41, 0.2);
}
