.timerWrapper {
  display: flex;
  text-align: center;
  margin: 0px !important;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  font-family: 'Fredoka One';
}

.timerSection {
  margin-right: 0.5rem;
  font-family: 'Fredoka One';
}

.noPaddingMargin {
  padding: 0px;
  margin: 0px;
}

.timerText {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Fredoka One';
}
