.section span {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Londrina Solid';
}

/* Help prevent overflow */
.ethAddressPadding {
  padding-left: 1em;
  padding-right: 0px;
}

.noMarginPadding {
  margin: 0px !important;
  padding: 0px !important;
}
